<!DOCTYPE html>
<html 
	lang="en"
	xmlns:th="http://www.thymeleaf.org" 
>
<head>
	<meta charset="UTF-8" />
	<title>Sistema de Gestão de Pessoas</title>
	<link rel="stylesheet"
	 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<a th:href="@{/add-pessoa}" class="btn btn-primary btn-sm mb-3">Incluir Pessoa</a>
		<h1>Pessoas</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Email</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pessoa : ${listaPessoas}">
					<td th:text="${pessoa.nome}"></td>
					<td th:text="${pessoa.telefone}"></td>
					<td th:text="${pessoa.email}"></td>
					<td>
						<a th:href="@{/update-pessoa/{id}(id=${pessoa.id})}" class="btn btn-warning">Alterar</a>
						<a th:href="@{/delete-pessoa/{id}(id=${pessoa.id})}" class="btn btn-danger">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!--<nav aria-label="...">
		    <ul class="pagination">
			    <li th:if="${listaPessoas.totalPages > 0}" th:each="numeroPagina : ${numerosPaginas}" 
			    	th:class="${numeroPagina==listaPessoas.number + 1} ? 'page-item active' : 'page-item'">
			    	<a class="page-link" th:href="@{/rh/pessoas(size=${listaPessoas.size}, page=${numeroPagina})}"
			        th:text=${numeroPagina}></a>
			    </li>
		    </ul>
		</nav>-->
	</div>
</body>
</html>
